{{page-title "Categories"}}

<BsTab as |tab|>

  {{#each @model as |category|}}
    <tab.pane @title={{category.nom}}>

      {{#each @model.contact as |contact|}}
        <ul>
          <li>{{contact.nom}}</li>
          <li>{{contact.prenom}}</li>
          <li>{{contact.email}}</li>
        </ul>
      {{/each}}

    </tab.pane>
  {{/each}}

</BsTab>

{{outlet}}

<!--
categories.contact/_id
-->