{{page-title "Ex1"}}
<div class="card" id="note">
  <div class="card-header bg-primary text-light">Ex1 : Note application </div>
  <div class="card-body">
    <Textarea maxlength='100' class="form-control mb-3" @value={{this.content}}
    @input={{this.update}}/>

    <div class="alert alert-info">Il reste {{this.size}} caractères disponibles.</div> <br>

  </div>
</div>

<div>
  <button type="button" class="btn btn-primary" {{ action "save" this.content @model }}>Enregistrer </button>
  <button type="button" class="btn btn-primary" {{ action "clear" }}>Effacer </button> <br><br>
</div>

{{outlet}}