{{page-title "Ex2"}}
<h1>Services</h1>
<div class="alert alert-info">
  <span>Choisissez les éléments à inclure</span> <!--intro txt-->
  <strong>{{ plural @model.countActive
                    'Aucun service sélectionné'
                    'service sélectionné' 'services sélectionnés'}}</strong>
</div>

<ul class="list-group"> <!--liste des éléments-->
  {{#each @model.services as |service|}}
    <li class="list-group-item {{if service.active 'active' ''}}"
      {{action "toggleActive" service}}>{{service.name}} {{format-currency service.price }}</li>
  {{/each}}
</ul>

<hr>
<div class="total"> <!--somme total-->
  Total: <span>{{format-currency @model.sumActive }}</span>
</div><br><br>

<button class="btn btn-primary" {{action "togglePromo"}}>Code promo</button><br><br>


{{outlet}}