{{page-title "Sections"}}

<div class="twelve wide stretched column">
  <div class="ui segment">
    <div  class="ui one column grid">
      <div class="column">
        <div class="ui attached segment"><i class="tags icon"></i>
          Gestion du store
          <LinkTo class="ui right floated teal button" @route="board">Board</LinkTo>
        </div>

        <div class="ui attached green segment">
          <LinkTo class="btn btn-success" @route="sections.add">Ajouter une section</LinkTo>
          <LinkTo class="btn btn-success" @route="sections.addProduct">Ajouter un produit</LinkTo>
        </div>

        <div class="ui attached green segment">
          <div class="ui grid">
            {{#each @model as |section|}}
              <div class="three column row">
                <div class="column">{{section.name}}</div>
                <div class="column">{{section.products.length}}</div>
                <div class="column">
                  <LinkTo class="btn btn-primary btn-sm" @route="sections.edit" @model={{section.id}}><i class="far fa-edit"></i></LinkTo>
                  <button class="btn btn-secondary btn-sm" {{ action "delete" section }}><i class="far fa-trash-alt"></i></button>
                </div>
              </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{{outlet}}